:root {
  --main-color: #950740;
  --light-color: #4E4E50;
  --dark-color: #F0EBF4;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Impact', 'serif';
  background-color: #1A1625;
  color: var(--light-color);
}
/* TYPOGRAPHY */



h2, h3 {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 35px;
  color: var(--main-color);
}
h3 { font-size: 25px;}

h4 {
  font-size: 25px;
  color: var(--light-color);
  font-weight: normal;
}
